body{
    background-color: gray;
    font-family: 'Asap', sans-serif;
    font-weight: normal;
}

#chatbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    height: 100px;
    width: 100px;
    opacity: 0.7;
}

#chatbutton:hover {
    opacity: 1;
}

#chat-popup {
  display: none;
  position: absolute;
  height: 400px;
  width: 300px;
  bottom: 10%;
  left: 80%;
  background-color: white;
  border-radius: 25px;
  animation-name: FadeIn;
  animation-duration: 1s;
  transition-timing-function: linear;
}

@keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.flex{
    display: flex;
}

#chat-popup .messages-area {
  position: absolute;
  width: 300px;
  height: 300px;
  top: auto;
  left: 0;
  right: 0;
  bottom: auto;
  padding: 10px;
  overflow-y: scroll;
}

#chat-popup .messages{
  padding: 10px;
}

#chat-popup .mainwindow{
  position: relative;
  width: 300px;
  height: 370px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
}

#chat-popup .message .text {
  border-radius: 7px;
  position: relative;
  color: cornflowerblue;
}

#chat-popup .message {
margin-bottom: 14px;
}

#chat-popup .message .header {
margin-bottom: 4px;
}

#chat-popup .message-me .header {
	text-align: right;
}

#chat-popup .message-me .text {
    background: unset;
    margin-left: auto;
    color: unset;
    padding-bottom: 15px;
}

#chat-popup .message-me .text:after {
	left: unset;
	right: 7%;
	border-bottom-color: #8c8c8c;
}

#chat-popup .message .options-list {
    position: relative;
    border-radius: 10px;
    margin-top: 4px;
}

#chat-popup .cancel {
    opacity: 0.7; 
    padding: 7px;
}

#chat-popup .cancel:hover {
    opacity: 1;
}


